
  <div class="table-responsive">
    <table mdbTable class="table">
      <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}
        </th>
        <th>
            <mat-form-field>
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="selected" >
                  <mat-option value="elements.length">None</mat-option>
                  <mat-option value="5">5</mat-option>
                  <mat-option value="10">10</mat-option>
                  <mat-option value="15">15</mat-option>
                  <mat-option value="20">20</mat-option>
                </mat-select>
              </mat-form-field>
        </th>
        <th>
            <button (click)='inputModal.show()' type="button" mdbBtn color="pink"  rounded="true" size="md">Add<mdb-icon fas icon="plus" class="ml-2 " aria-hidden="true"></mdb-icon></button>

        </th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let el of elements | paginate: { itemsPerPage: selected, currentPage: p }">
            <th scope="row">{{el.id}}</th>
            <td class="red-text">{{el.EmployName}}</td>
            <td>{{el.EmployEmail}}</td>
            <td class="clearfix">
              <button type="button" mdbBtn color="primary" class="btn btn-warning btn-sm" (click)="basicModal.show();getforupdate(el);" mdbWavesEffect><i class="fas fa-wrench"></i></button>
              <button type="button" class="btn btn-danger btn-sm" (click)='deleteData(el.id);'><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
      </tbody>
    </table>
    <div class="text-right">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
      </div>

  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Update Data</h4>
        </div>
      <form #data=ngForm (ngSubmit)='updateData(stockdata.id, stockdata)'>
        <div class="modal-body">
          <div class="md-form">
            <input type="text" name="EmployName" [(ngModel)]="stockdata.EmployName" id="materialLoginFormEmail1" class="form-control" mdbInput>
            <label for="materialLoginFormEmail1">EmployeeName</label>
          </div>
          <div class="md-form">
            <input type="text" name="EmployEmail" [(ngModel)]="stockdata.EmployEmail" id="materialLoginFormEmail2" class="form-control" mdbInput>
            <br/>
            <label for="materialLoginFormEmail2">EmployeeEmail</label>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="submit" mdbBtn color="primary" class="relative waves-light" (click)='basicModal.hide()' mdbWavesEffect>Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <div mdbModal #inputModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="inputModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">Add Employee</h4>
          </div>
          <form #data=ngForm (ngSubmit)='addEmployee(data.value)'>
          <div class="modal-body">
            <div class="md-form">
              <input type="text" name="EmployName" [(ngModel)]="data.EmployName" id="materialLoginFormEmail1" class="form-control" mdbInput>
              <label for="materialLoginFormEmail1">EmployeeName</label>
            </div>
            <div class="md-form">
              <input type="text" name="EmployEmail" [(ngModel)]="data.EmployEmail" id="materialLoginFormEmail2" class="form-control" mdbInput>
              <br/>
              <label for="materialLoginFormEmail2">EmployeeEmail</label>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="inputModal.hide()" mdbWavesEffect>Close</button>
            <button type="submit" mdbBtn color="primary" class="relative waves-light" (click)='inputModal.hide()' mdbWavesEffect>Save changes</button>
          </div>
        </form>
        </div>
      </div>
    </div>
