<div class="container">
    <div class="row">
        <div class="col">
            <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
                <label for="search">Search</label>
              </div>
        </div>
        <div class="col-12 col-md-auto">
        </div>
        <div class="col col-lg-2" style="margin: auto;">
            <button mdbBtn type="button" color="warning" outline="true" size= "sm" (click)='inputModal.show()' mdbWavesEffect><mdb-icon far icon="plus-square"></mdb-icon></button>
        </div>
      </div>
  
  <div class="table-responsive">
    <table mdbTable class="table">
      <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}
        </th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of elements | filter: searchText">
        <th scope="row">{{el.id}}</th>
        <td class="red-text">{{el.EmployName}}</td>
        <td>{{el.EmployEmail}}</td>
        <td class="clearfix">
          <button type="button" mdbBtn color="primary" class="btn btn-warning btn-sm" (click)="basicModal.show();getforupdate(el);" mdbWavesEffect><i class="fas fa-wrench"></i></button>  
          <button type="button" class="btn btn-danger btn-sm" (click)='deleteData(el.id);'><i class="far fa-trash-alt"></i></button>
        </td>
      </tr>
      </tbody>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="elements.length" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
        <p>{{elements.length}} {{page}} {{pageSize}} {{collectionSize}} </p>
        ng {{ a }}
    </table>
    
  </div>
  </div>
  
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Update Data</h4>
        </div>
        <form #data=ngForm (ngSubmit)='updateData(stockdata.id,data.value)'>
        <div class="modal-body">
          <div class="md-form">
            <input type="text" name="EmployName" [(ngModel)]="stockdata.EmployName" id="materialLoginFormEmail1" class="form-control" mdbInput>
            <label for="materialLoginFormEmail1">EmployeeName</label>
          </div>
          <div class="md-form">
            <input type="text" name="EmployEmail" [(ngModel)]="stockdata.EmployEmail" id="materialLoginFormEmail2" class="form-control" mdbInput>
            <br/>
            <label for="materialLoginFormEmail2">EmployeeEmail</label>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="submit" mdbBtn color="primary" class="btn btn-outline-primary btn-sm m-0 waves-effect" (click)='basicModal.hide()' mdbWavesEffect>Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <div mdbModal #inputModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="inputModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">Add Employee</h4>
          </div>
          <form #data=ngForm (ngSubmit)='addEmployee(data.value)'>
          <div class="modal-body">
            <div class="md-form">
              <input type="text" name="EmployName" [(ngModel)]="data.EmployName" id="materialLoginFormEmail1" class="form-control" mdbInput>
              <label for="materialLoginFormEmail1">EmployeeName</label>
            </div>
            <div class="md-form">
              <input type="text" name="EmployEmail" [(ngModel)]="data.EmployEmail" id="materialLoginFormEmail2" class="form-control" mdbInput>
              <br/>
              <label for="materialLoginFormEmail2">EmployeeEmail</label>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="inputModal.hide()" mdbWavesEffect>Close</button>
            <button type="submit" mdbBtn color="primary" class="relative waves-light" (click)='inputModal.hide()' mdbWavesEffect>Save changes</button>
          </div>
        </form>
        </div>
      </div>
    </div>