
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn"  (click)="closeNav()">&times;</a>
  <a routerLink ="/">หน้าหลัก</a>
  <a routerLink ="/app-project-detail">ข้อมูลโปรเจค</a>
  <a routerLink ="/app-employee-detail">ข้อมูลพนักงาน</a>
  <a routerLink ="/app-work-cate">ประเภทของงาน</a>
  <a routerLink ="/app-work-status">สถานะงาน</a>
  <a routerLink ="/app-issue">ประเภทของปัญหา</a>
</div>
<div id="main">
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  <router-outlet></router-outlet>
</div>