
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn"  (click)="closeNav()">&times;</a>
  <a routerLink ="/">Home</a>
  <a routerLink ="/app-project-detail">Project_Detail</a>
  <a routerLink ="/app-employee-detail">Employee_Detail</a>
  <a routerLink ="/app-work-cate">Work-Category</a>
  <a routerLink ="/app-work-status">Work-status</a>
</div>
<div id="main">
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  <router-outlet></router-outlet>
</div>