<form class="border border-light p-5" (ngSubmit)="addemploydata(selected)">
    <button type="button" class="close pull-right" aria-label="Close" routerLink ="/app-save">
        <span aria-hidden="true">×</span>
    </button>
    <div class="h4 mb-4 text-center" ></div>
    <p></p>
    <label for="select">พนักงาน</label>
    <mat-select class="browser-default custom-select mb-4" [(value)]="selected" >
        <mat-option>เลือกพนักงาน</mat-option>
      <mat-option *ngFor="let item of employee"  [value]="item">{{item.EmployName}} </mat-option>
    </mat-select>

    <button class="btn btn-info btn-block my-4" type="submit" >add</button>
</form>
<form class="border border-light p-5" (ngSubmit)='addyesterdaywork(workselected)'>
    <label for="select">งานที่ทำเมื่อวาน</label>
    <mat-select class="browser-default custom-select mb-4" [(value)]="workselected" >
        <mat-option>เลือกพนักงาน</mat-option>
      <mat-option *ngFor="let item of workcate"  [value]="item">{{item.workcatename}} </mat-option>
    </mat-select>
    <button class="btn btn-info btn-block my-4" type="submit">add</button>
</form>
<form class="border border-light p-5" (ngSubmit)='addissuework(issueselected)'>
    <label for="select">ปัญหาที่ติด</label>
    <mat-select class="browser-default custom-select mb-4" [(value)]="issueselected" >
        <mat-option>เลือกพนักงาน</mat-option>
      <mat-option *ngFor="let item of issue"  [value]="item">{{item.issuename}} </mat-option>
    </mat-select>
    <button class="btn btn-info btn-block my-4" type="submit">add</button>
</form>
<form class="border border-light p-5" (ngSubmit)='addtodowork(workcateselected)'>
  <div class='row'>
    <div class='col-10'>
    <mat-label>งานที่จะทำ</mat-label>
    <mat-select class="browser-default custom-select " [(value)]="workcateselected" >
      <mat-option>เลือกพนักงาน</mat-option>
      <mat-option *ngFor="let item of workcate"  [value]="item">{{item.workcatename}} </mat-option>
    </mat-select>
    </div>
    <div class='col align-items-center'>
    <button class="btn btn-info btn-block my-4"  type="submit">add</button>
    </div>
  </div>
</form>
<br>
<div *ngIf="hidden">
<form>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope='col'>Date</th>
            <th scope="col">EmployeeName</th>
            <th scope="col">YesterdayWork</th>
            <th scope="col">IssueWork</th>
            <th scope="col">ToDoWork</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              {{ formatted }}
            </th>
            <th>
              <data *ngFor="let item of employdata" >{{item.EmployName}}<br></data>
            </th>
            <td>
                <data scope='row' *ngFor="let item of yesterdaywork" >{{item.workcatename}}<br></data>
            </td>
            <td>
                <data scope='row' *ngFor="let item of issuework" >{{item.issuename}}<br></data>
            </td>
            <td>
                <data scope='row' *ngFor="let item of todowork" >{{item.workcatename}}<br></data>
            </td>
          </tr>
        </tbody>
      </table>
    <button type="button" class="btn btn-outline-warning btn-block" (click)="test()" >Add All To table</button>
</form>
</div>
