<div class="row">
    <div class="col">
    </div>
    <div class="col-12 col-md-auto">
    </div>
    <div class="col col-lg-2" style="margin: auto;">
        <button mdbBtn type="button" color="warning" outline="true" size= "sm" routerLink ="/app-savedaily" mdbWavesEffect><mdb-icon far icon="plus-square"></mdb-icon></button>
    </div>
  </div>
<table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Del</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of daily;let i = index;" >
        <th scope="row">{{i+1}}</th>
        <a routerLink ="/app-savedaily"><td>{{ item.date }}</td></a>
        <td>
            <button type="button" mdbBtn color="primary" class="btn btn-warning btn-sm" routerLink ="/app-savedaily" mdbWavesEffect><i class="fas fa-wrench"></i></button>
        </td>
        <td class="clearfix">
            <button type="button" class="btn btn-danger btn-sm" (click)='deleteData(el.id)'><i class="far fa-trash-alt"></i></button>
          </td>
      </tr>
    </tbody>
  </table>
